<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-button [routerLink]="['/scene1']">scene1: endpoint1 を叩いた後にendpoint2 を叩くのを順番にこなしたい</ion-button>
    <br />
    <ion-button [routerLink]="['/scene2']">scene2: 認証トークン周り</ion-button>
</ion-content>